@charset "UTF-8";
@font-face { 
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}           

body{
 	font-family:'S-CoreDream-3Light';
}   
     
/*login*/
#login_tb{
	border: 2px gray solid;
	border-radius:10px;
	width:500px;
	height:300px;
	margin-left:30%
}

#logfm{
	margin-top:100px;	
}

#mem_id, 
#mem_pwd{
    margin-right:20px;
    padding-left:20px;
}    
#logbtn{
        width:90px;
        height:58px;
        background-color:black;
        color:white;
        border-radius:5px;
        cursor:pointer
}
#login_a {
   text-decoration:none;
   font-size: 1.1em;
   color:rgb(68, 68, 68);
  }		


/*id_find*/
#id_find_img{
	float:left;
	margin-right:10px;
}
#id_find_td {
	margin-top:30px;
}
#idfm{
    margin-top:70px;
}
#findtb,
#findtb2 {
	width:600px;
	height:210px;
	padding-bottom:40px;
	border:1px solid black;
	border-radius:10px;
}
#findtb2 {
	position:relative;
    margin-top:30px;
}
#find_phone_td,
#find_email_td  {
	padding-left:40px;
	font-size:14pt;
}
#id1{
    padding-left:100px;
    width:140px;
}
#phbtn,
#embtn{
	width:90px;
	height:30px;
	margin-right:30px;
	background:gray;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

/*pwd_find*/
#pwd_find_img{
	float:left;
	margin-right:10px;
}
#pwd_find {
	margin-top:30px;
}
#pwd_find_fm{
    margin-top:70px;
}
#pwd_find_tb{
    width:500px;
	height:200px;
	border: 2px gray solid;
	border-radius:10px;
}	
#pwfind{
	padding-left:30px;
	height:30px;
}
#pwd_find_btn{
	width:90px;
	height:30px;
	margin-right:30px;
	background:gray;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

#pwd{
	padding-left:40px;
	width:200px;
	height:20px;
}

/*pwd_update*/
#pwd_update_img{
	float:left;
	margin-right:10px;
}
#pwd_upda {
	margin-top:30px;
}
#pwd_update_tb{
    width:500px;
	height:200px;
	border-radius:10px;
}	
#pwd_update_fm{
    margin-top:70px;
}

#pwdbtn{
	width:90px;
	height:30px;
	margin-right:30px;
	background:gray;
    color:white;
    border-radius:10px;
    cursor:pointer;
}
#pwd_check{
	padding-left:30px;
	height:30px;
}
#pwd{
	padding-left:40px;
	width:200px;
	height:20px;
}

/*mem_join*/
#mem_join_img{
	margin-left:8%;
}
#mem_join_tb{
	width:80%;
	height:350px;
	margin-left:9%;
	margin-top:4%;
}

#idbtn, #zipbtn {
	margin-left:2%;
}
#mem_agree{
	margin-top:3%;
	width:100%
}

#agree_btn{
	margin-top:2%;
}
#join_end_btn{
	margin-top:4%;
	margin-left:45%;
}
#join_close_btn{
	margin-left:1%
}

/*join_pop*/
#join_pop_img {
	padding-top:20px;
}
#join_pop_body{  
	background-color: #f9f9f9
}


/*mem_info*/
#mem_info_img{
	margin-left:8%;
}
#mem_info{
	margin-top:20%;
}
#mem_info_tb {
	width:80%;
	height:350px;
	margin-left:9%;
	margin-top:4%;
}
#zipbtn {
	margin-left:10px;
}
#update_btn{
	margin-top:1%;
	margin-left:9%;
}
#mem_info_close_btn{
	margin-top:1%;
	margin-left:77%
}
/*#delete_mem_btn{
	margin-top:1%;
	margin-left:60%
}*/

/*delcheck, admin_delcheck*/
#delcheck_tb{
 	margin-top:20px;
 }
#mem_del, #cancel{
 	margin-top:30px;
 }
#delcheck_tr{
	height:40px
}

/*admin_page*/
.top{
	margin-top:30px;
}

#tab1, #tab2, #tab3, #tab4{
	margin-top:40px;
	width:100%;	
	padding-left:50px;
}
#admin_page_tr{
	background-color:#eeeeee;
 }

.selected{
	background-color:#eeeeee
}
#search{
	float:right;
	margin-top:40px;
}
.item_upload{
	float:left;
	margin-top:20px;
}
.item_soldout{
	float:right;
	margin-top:20px;
}
.item_sale{
	float:right;
	margin-top:20px;
	margin-right:15px;
}

/*admin_info*/
#admin_info_img{
	float:left;
	margin-right:10px;
}
#mem_info{
	margin-top:30px;
}
#admin_info_tb {
	width:900px;
	height:350px;
	margin-top:70px;
	padding-left:30px;
}

#zipbtn, #pwd_reset{
	margin-left:10px;
}
.admin_info_close{
	float:left;
	margin-top:20px;
	margin-left:20px;
}

.admin_delete_mem{
	float:right;
	margin-top:20px;
	margin-right:20px;
}
/*QNApostview reply_tb*/
#reply_tb{
	width:800;
	cellspacing:0;
	cellpadding:2;
	align:center;
	background:F8F8F8;
	border:0;
	white-pre:pre
}

/*상품 검색 tb*/
.item_search_tb{
	border:5px double gray;
	border-width:5px;
}

/*OrderPayPro*/

#paypro_check{
	margin-top:40px;

	}
	.paypro_btn{
	margin-top:20px;
}
